h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 10px;
}

input:focus {
    border-color: #007bff;
}

/* Lista de Itens com Scroll */
.lista-itens {
    background: #f9f9f9;
    border-radius: 8px;
    height: 250px;
    width: 100%;
    overflow-y: auto;
    margin: 10px 10px;
    border: 1px solid #eee;
}

/* No caixa.css */
.item-carrinho {
    display: flex;
    margin-bottom: 5px;
    border-radius: 2px;
    background: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Sombra suave */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item-info {
    flex-direction: line;
    margin-right: auto;
}

.item-nome {
    font-size: 1.1rem;
    color: #333;
}

.item-preco {
    color: #28a745;
    /* Cor verde para o preço */
    font-weight: bold;
    margin-left: auto;
}

.btn-remover {
    background: #ffebee;
    color: #c62828;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    /* Alinha conteúdo */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin-left: auto;
    /* Mantém ele na direita */
    padding: 0;
    /* Evita deslocamento */
}

.total-container {
    text-align: right;
    padding: 5px 0;
    border-bottom: 2px solid #eee;
}




.error {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 1rem;
    min-height: 1.2rem;
}




.btnContinuar {
    position: relative;
    margin-top: auto;
    /* Empurra o botão para o fim do conteúdo, mas permite scroll */
}





/* O Modal Bottom Sheet */
.modal-bottom-sheet {
    width: 100%;
    background: rgb(145, 145, 145);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
    animation: slideUp 0.3s ease-out; /* Efeito de subir */
     margin-top: 10px;
}





@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}