


h2 { text-align: center; color: #333; margin-top: 0; }

label { display: block; margin-bottom: 5px; font-weight: bold; color: #555; }

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 10px;
}

input:focus { border-color: #007bff; }

/* Lista de Itens com Scroll */
.lista-itens {
    background: #f9f9f9;
    border-radius: 8px;
    height: 250px;
    width:  400px; 
    overflow-y: auto;
    margin: 10px 10px;
    border: 1px solid #eee;
}

/* No caixa.css */
.item-carrinho {
    display: flex;
    margin-bottom: 5px;
    border-radius: 2px;
    background: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Sombra suave */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.item-info {
    flex-direction: line; 
    margin-right: auto;
}

.item-nome {
    font-size: 1.1rem;
    color: #333;
}
.item-preco {
    color: #28a745; /* Cor verde para o preço */
    font-weight: bold;
    margin-left: auto;
}

.btn-remover {
    background: #ffebee;
    color: #c62828;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
  display: flex;           /* Alinha conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
  margin-left: auto;       /* Mantém ele na direita */
    padding: 0;              /* Evita deslocamento */
}

.total-container {
    text-align: right;
    padding: 5px 0;
    border-bottom: 2px solid #eee;
}


button {
   
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    /* transition: background 0.3s; */
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 1rem;
    min-height: 1.2rem;
}

/* Spinner */
.loading-container { text-align: center; margin-top: 100px; width: 100%; }
.spinner {
    border: 4px solid rgba(0,0,0,.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    display: inline-block;
}
@keyframes spin { to { transform: rotate(360deg); } }
.btnContinuar {
    position: relative; 
    margin-top: auto; /* Empurra o botão para o fim do conteúdo, mas permite scroll */
}